
<center>

    <h2><%= @response['title'] %></h2>
    <img src='<%= @response['image'] %>'>
    <div>
        <h3>Summary</h3>
        <%== @response['summary'] %><hr>
        <h3>Instructions</h3>
        <%== @response['instructions'] %>
    </div>

</center>