
<center>
    <br><h4>Powered by <img src="/images/spoonacular.svg" height="70px"/></h4>
    <br><h2 class="bree"><%= @response['title'] %></h2>
    <br><img src='<%= @response['image'] %>'>
    <div class="container">
        <br><h3 class="bree">Summary</h3>
        <%== @response['summary'] %><hr>
        <h3 class="bree">Instructions</h3>
        <%== @response['instructions'] %>
    </div><br><br>
</center>