<h2>Add a recipe</h2>

<%= form_tag user_recipes_path(current_user.id), :method => :post, :multipart => true do %>
        <label>Title</label>
        <%= text_field(:recipe, :title)%>
        <label>Preparazione</label>
        <%= text_field(:recipe, :preparazione) %>
        <label>Image</label>
        <%= file_field(:recipe, :image)  %>
        <button type="submit">Save changes</button>
<% end %>