<center>
    <br><h1 class="bree">Contact</h1><br>
    <h2 class="bree">Developers</h2><br>
    <%= image_tag "/images/unnamed.jpg", size: "140x140" %><h4>Giovanni Pecorelli<br><a href="mailto:pecorelli.1799865@studenti.uniroma1.it"><strong>pecorelli.1799865@studenti.uniroma1.it</strong></a><br><a href="https://github.com/GioPec"><strong>github/GioPec</strong></a></h4><br><br>
    <%= image_tag "/images/fotoJR.jpg", size: "140x140" %><h4>Jacopo Rossi<br><a href="mailto:rossi.1801667@studenti.uniroma1.it"><strong>rossi.1801667@studenti.uniroma1.it</strong></a><br><a href="https://github.com/JacopoRossi"><strong>github/JacopoRossi</strong></a></h4>
    <br>
    <br>
<center>