<center>
    <br><br>
    <h1>Following</h1><hr>

    <% @following.each do |f| %>
        <% u=User.find(f)%>
        <h2><%= link_to u.username, user_path(u.id) %></h2><br>
        <% if u.profile_img.attached? %>
            <img src="<%= url_for(u.profile_img) %>" height="200px">
        <% else %>
            <img src="<%= u.img %>" height="200px">
        <% end %>
        <hr>
    <% end %>
</center>