<center>
    <br><br>
    <h1 class="bree">Follower</h1><hr>

    <% @followers.each do |f| %>
        <% u=User.find(f)%>
        <h2 class="bree no_decoration"><%= link_to u.username, user_path(u.id) %></h2><br>
        <% if u.profile_img.attached? %>
            <%= image_tag u.profile_img, :style => "height: 200px" %>
        <% else %>
            <%= image_tag u.img, :style => "height: 200px" %>
        <% end %>
        <hr>
    <% end %>
</center>