<center>
    <br>
    <h1 class="bree">Result</h1><hr>

    <h2 class="no_decoration bree"><%= link_to @user.username, user_path(@user.id) %></h2><br>
    <a href="/users/<%= @user.id %>">
        <% if @user.profile_img.attached? %>
            <%= image_tag @user.profile_img, :style => "height: 300px" %>
        <% else %>
            <%= image_tag @user.img, :style => "height: 300px" %>
        <% end %>
    </a>

</center>